/* omradet.css.css */

/* Reset CSS */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    padding: 0;
    
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    font-family: 'Americana', sans-serif; /* Fallback to sans-serif if custom font fails to load */
}

a {
    text-decoration: none;
}

/* Use your custom font */
@font-face {
    font-family: 'Americana';
    src: url('C:\Users\admin\Desktop\OmrådetHTML\Americana Bold.otf') format('truetype');
    /* Add additional src lines if you have different font weights or styles */
}

.white-text {
    color: white;
}

.header-grid {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding: 10px;
    background-color: #000000;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}


.logga-vänster {
    margin: 0;
}

.logga-vänster img {
    height: 50px; /* Adjust height as needed */
}


.header-info {
    text-align: center;
    margin-top: 100px; /* Justera marginalen för att placera texten under headern */
    margin-bottom: 50px;
}

.header-info2 {
    text-align: center;
    margin-top: 50px; /* Adjust margin-top as needed */
    width: 50%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container horizontally */
}

.omradet-text {
    color: white;
    font-size: 24px; /* Adjust font-size as needed */
    margin-bottom: 20px; /* Add margin-bottom for spacing */
}



.header-info2 p {
    margin-bottom: 20px; /* Adjust margin-bottom as needed */
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px; /* Justera sidomarginaler efter behov */
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    text-decoration: none;
    color: #dddddd;
}

#background-video {
    position: fixed;
    top: 1;
    left: 0;
    width: 100vw;
    height: calc(100vh - 60px); /* Justera höjden efter behov, ta hänsyn till headerhöjden */
    z-index: -1;
}
/* omradet.css.css */



/* Media query for mobile devices */
@media (max-width: 768px) {
    .photos-row {
        flex-wrap: wrap;
    }
    
    .photos-row img {
        width: calc(33.33% - 20px); /* Adjust width and spacing for 3 images in a row */
        margin: 10px; /* Adjust spacing between photos */
    }
}



.medlem-info {
    font-family: 'Americana', sans-serif; /* Fallback to sans-serif if custom font fails to load */
    text-align: center;
    max-width: 500px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the container horizontally */
    color: white;
    font-size: 20px; /* Adjust font-size as needed */
}

.membership-info {
    text-align: center;
    max-width: 500px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the container horizontally */
}

.training-fees {
    font-size: 24px;
    color: white;
    text-decoration: underline;
    margin-bottom: 15px;
    margin-top: 15px;
}

.fee {
    font-size: 15px;
    color: white;
    text-decoration: none; /* Remove underline */
    margin-top: 15px;
}

.payment-info {
    font-size: 15px;
    color: white; /* Set color to white */
    text-align: center; /* Center the text */
    margin-top: 20px; /* Adjust margin-top as needed */}